<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>About / mnn.im</title>

	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="stylesheet" type="text/css" href="/markdown.css" />

</head>
<body style="overflow:visible">

<header>
	<div class="logo">
		<a class="new" href="/">New</a>
		<a href="/api">API</a>
		<a href="/about">About</a>
	</div>
	<div class="form-inputs">
		&nbsp;
	</div>

	<div class="option-buttons">
		&nbsp;
	</div>
</header>

<div class="api">

<h1 id="about">About</h1>

<h3 id="createdanddevelopedbyqbentertainment.">Created and Developed by QB Entertainment.</h3>

</div>
</body>
</html>
